 <html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
 layout:decorator="customer/tables">

<div class="content-box">
			
             <div class="element-wrapper">

                 <div class="element-box">
                     <h5 class="form-header" layout:fragment="content-header">Add Tag to Category</h5>
                     <div class="table-responsive" layout:fragment="content">
	                     <form class="form-inline" th:object="${tag}" th:action="@{/tags/create}" method="post">
					      <label class="sr-only">Tag Name:</label>
					      <input class="form-control mb-2 mr-sm-2 mb-sm-0 col-sm-4" th:field="*{name}" placeholder="Tag Name" type="text"></input>
					      <select class="form-control mb-2 mr-sm-2 mb-sm-0 col-sm-3" th:field="*{catid}" placeholder="Category Name" type="text">
					      	<option th:each="cat: ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
					      </select>
					      <button class="btn btn-primary" type="submit"> Submit</button>
					    </form>
					    <hr></hr>
                         <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                             <thead>
                                 <tr>
                                     <th>Tag Id</th>
                                     <th>Tag Name.</th>
									 <th>Category Name.</th>
                                     
                                     <th>View Tags</th>
                                 </tr>
                             </thead>
                             <tfoot>
                                 <tr>
                                     <th>Tag Id</th>
                                     <th>Tag Name.</th>
                       				 <th>Category Name.</th>
                                     
                                     <th>View Tags</th>
                                 </tr>
                             </tfoot>
                             <tbody>
								<tr th:each="tag: ${tags}">
								    <td th:text="${tag.id}"></td>
								    <td th:text="${tag.name}"></td>
									<td th:text="${tag.category.name}"></td>
								    
								    <td><a class="btn btn-primary" th:href="@{'/tags/'+${tag.name}+'/contacts/'}">View Contacts</a></td>
							
								</tr>
					     
                                
                             </tbody>
                         </table>
                     </div>
                     
                
                 </div>
             </div>
 </div>
</html>
                    