<!DOCTYPE html>
<html>
  <head>
    <title>Sourceplate - Contact Management System</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Cornerstone - Claims Management System" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500"
		rel="stylesheet" type="text/css">
	<link href="bower_components/select2/dist/css/select2.min.css"
		th:href="@{/bower_components/select2/dist/css/select2.min.css}"
		rel="stylesheet">
	<link
		href="bower_components/bootstrap-daterangepicker/daterangepicker.css"
		th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}"
		rel="stylesheet">
	<link href="bower_components/dropzone/dist/dropzone.css"
		th:href="@{/bower_components/dropzone/dist/dropzone.css}"
		rel="stylesheet">
	<link
		href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"
		th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.cs}"
		rel="stylesheet">
	<link href="bower_components/fullcalendar/dist/fullcalendar.min.css"
		th:href="@{/bower_components/fullcalendar/dist/fullcalendar.min.css}"
		rel="stylesheet">
	<link
		href="bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css"
		th:href="@{/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css}"
		rel="stylesheet">
	<link href="bower_components/slick-carousel/slick/slick.css"
		th:href="@{/bower_components/slick-carousel/slick/slick.css}"
		rel="stylesheet">
	<link href="css/main.css?version=4.4.0" rel="stylesheet" th:href="@{/css/main.css?version=4.4.0}">
<style type="text/css">
/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}
</style>
<style>
.cke {
	visibility: hidden;
}
</style>

  </head>
  <body class="menu-position-side menu-side-left full-screen">
    <div class="all-wrapper solid-bg-all">
      <div class="layout-w">
      	<div th:replace="~{customer/menu :: mob_menu}"></div>		
		<div th:replace="~{customer/menu :: main_menu}"></div>
        <div class="content-w">
        <!--------------------
            START - Top Bar
            -------------------->
				<div class="top-bar color-scheme-transparent">
					<!--------------------
              START - Top Menu Controls
              -------------------->
					<div class="top-menu-controls">
						<div class="element-search autosuggest-search-activator">
							<input placeholder="Start typing to search..." type="text">
						</div>
						<!--------------------
                START - Messages Link in secondary top menu
                -------------------->
						<div
							class="messages-notifications os-dropdown-trigger os-dropdown-position-left">
							<i class="os-icon os-icon-mail-14"></i>
							<div class="new-messages-count">12</div>
							<div class="os-dropdown light message-list">
								<ul>
									<li><a href="#">
											<div class="user-avatar-w">
												<img alt="image" th:src="@{/img/avatar1.jpg}">
											</div>
											<div class="message-content">
												<h6 class="message-from">John Mayers</h6>
												<h6 class="message-title">Account Update</h6>
											</div>
									</a></li>
									<li><a href="#">
											<div class="user-avatar-w">
												<img alt="" th:src="@{/img/avatar2.jpg}">
											</div>
											<div class="message-content">
												<h6 class="message-from">Phil Jones</h6>
												<h6 class="message-title">Secutiry Updates</h6>
											</div>
									</a></li>
									<li><a href="#">
											<div class="user-avatar-w">
												<img alt="" th:src="@{/img/avatar3.jpg}">
											</div>
											<div class="message-content">
												<h6 class="message-from">Bekky Simpson</h6>
												<h6 class="message-title">Vacation Rentals</h6>
											</div>
									</a></li>
									<li><a href="#">
											<div class="user-avatar-w">
												<img alt="" th:src="@{/img/avatar4.jpg}">
											</div>
											<div class="message-content">
												<h6 class="message-from">Alice Priskon</h6>
												<h6 class="message-title">Payment Confirmation</h6>
											</div>
									</a></li>
								</ul>
							</div>
						</div>

						<div
							class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
							<i class="os-icon os-icon-ui-46"></i>
							<div class="os-dropdown">
								<div class="icon-w">
									<i class="os-icon os-icon-ui-46"></i>
								</div>
								<ul>
									<li><a href="users_profile_small.html"><i
											class="os-icon os-icon-ui-49"></i><span>Profile
												Settings</span></a></li>
									<li><a href="users_profile_small.html"><i
											class="os-icon os-icon-grid-10"></i><span>Billing Info</span></a>
									</li>
									<li><a href="users_profile_small.html"><i
											class="os-icon os-icon-ui-44"></i><span>My Invoices</span></a></li>
									<li><a href="users_profile_small.html"><i
											class="os-icon os-icon-ui-15"></i><span>Cancel Account</span></a>
									</li>
								</ul>
							</div>
						</div>
						<!--------------------
		                END - Settings Link in secondary top menu
		                -------------------->
		                <!--------------------
              START - User avatar and menu in secondary top menu
              -------------------->
              <div class="logged-user-w">
                <div class="logged-user-i">
                  <div class="avatar-w">
                    <img alt="" th:src="@{/img/avatar1.jpg}">
                  </div>

                </div>
              </div>
              <!--------------------
              END - User avatar and menu in secondary top menu
              -------------------->
			</div>
			<!--------------------
              END - Top Menu Controls
              -------------------->
				</div>
			<!--------------------
            END - Top Bar
            -------------------->
          <div class="content-i">
            <div class="content-box">
             	<div th:if="${success}" class="alert alert-warning alert-dismissible fade show" role="alert">
	                <th:block th:text="${success}"></th:block>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                    <span aria-hidden="true">×</span>
	                </button>
	            </div>
	             <div th:if="${warn}" class="alert alert-warning alert-dismissible fade show" role="alert">
	                <th:block th:text="${warn}"></th:block>
	                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                    <span aria-hidden="true">×</span>
	                </button>
	             </div>
            	<div class="row">
			     <div class="col-sm-12" layout:fragment="content">
			       
			      </div>        
             	</div>
          </div>
        </div>
      </div>
      <div class="display-type"></div>
    </div>
    <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/bower_components/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/bower_components/moment/moment.js}"></script>
    <script th:src="@{/bower_components/chart.js/dist/Chart.min.js}"></script>
    <script th:src="@{/bower_components/select2/dist/js/select2.full.min.js}"></script>
    <script th:src="@{/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js}"></script>
    <script th:src="@{/bower_components/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/bower_components/bootstrap-validator/dist/validator.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/bower_components/dropzone/dist/dropzone.js}"></script>
    <script th:src="@{/bower_components/editable-table/mindmup-editabletable.js}"></script>
    <script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/bower_components/fullcalendar/dist/fullcalendar.min.js}"></script>
    <script th:src="@{/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/bower_components/tether/dist/js/tether.min.js}"></script>
    <script th:src="@{/bower_components/slick-carousel/slick/slick.min.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/util.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/alert.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/button.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/carousel.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/collapse.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/dropdown.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/modal.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/tab.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/tooltip.js}"></script>
    <script th:src="@{/bower_components/bootstrap/js/dist/popover.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/demo_customizer.js?version=4.4.0}"></script>
    <script th:src="@{/js/main.js?version=4.4.0}"></script>
    
    <script>
    $(document).ready(function() {
  	  $('#msg').modal('show');
  	});
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-XXXXXXX-9', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
